@tailwind base;
@tailwind components;
@tailwind utilities;




#line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  #line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  

#hover:line-clamp-none {
    -webkit-line-clamp: unset;
  }
  